@font-face {
  font-family: OpenSans;
  src: url("../../../fonts/Open_Sans/OpenSans-Regular.ttf");
}

.LoginPage{
padding: 40px;
display: flex;
background: #FCFCFB
}

.LeftSideImage{
height: 900px;
width: 1250px;
display: inline-block;
background-image: url("./LoginBlackboard.svg");
background-repeat: no-repeat;
background-size: 100% 100%;
}

.BlackboardMan{
display: inline-block;
height: 60%;
width: 60%;
}

.SloganTitle {

font-family: OpenSans;
font-style: normal;
font-weight: 600;
font-size: 53.71px;
line-height: 73px;
text-align: center;
color: rgba(0, 0, 0, 0.87);
}

/* Password */

position: absolute;
width: 687.88px;
height: 90.89px;
left: 1165px;
top: 470.07px;



/* Password */

position: absolute;
width: 105.6px;
height: 24.45px;
left: 1165px;
top: 470.07px;

/* 20 sp • Subtitle • Website */
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 27px;
letter-spacing: 0.1px;

/* Dark Color */
color: rgba(0, 0, 0, 0.87);


/* Rectangle 1656 */

position: absolute;
width: 687.88px;
height: 50.35px;
left: 1165px;
top: 510.62px;

/* White Base */
background: #FFFFFF;
/* Gray · 90% */
border: 0.7px solid #3E4345;
border-radius: 10px;

/* Button (Website) */


/* Button BG */

position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;

/*  Purple Base */



/* Caption */

position: absolute;
left: 9.38%;
right: 9.38%;
top: 20%;
bottom: 20%;

/* 20 sp • BUTTON  • Website */


/* White Base */
color: #FFFFFF;

/* Sign in with */

position: absolute;
width: 135px;
height: 28px;
left: 1442px;
top: 797px;

/* 22 sp • Body 1 Open Sans  • Website */
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 32px;
/* or 145% */
letter-spacing: 0.44px;

/* Dark Color */
color: rgba(0, 0, 0, 0.87);


/* Social */

position: absolute;
width: 129.05px;
height: 54.46px;
left: 1445px;
top: 837.54px;



/* LinkedIN */

position: absolute;
width: 55.05px;
height: 54.46px;
left: 1519px;
top: 837.54px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


/* back */

position: absolute;
width: 55.05px;
height: 54.46px;
left: 1519px;
top: 837.54px;

background: #0077B5;


/* Shape */

position: absolute;
width: 29.1px;
height: 27.48px;
left: 1531.85px;
top: 851.15px;

/* White Base */
background: #FFFFFF;


/* Path */

position: absolute;
width: 6.24px;
height: 18.54px;
left: 1532.22px;
top: 860.09px;

background: #DADADA;


/* Path */

position: absolute;
width: 7.02px;
height: 6.41px;
left: 1531.85px;
top: 851.15px;

background: #DADADA;


/* Path */

position: absolute;
width: 19.04px;
height: 18.98px;
left: 1541.91px;
top: 859.66px;

background: #DADADA;


/* Facebook */

position: absolute;
width: 53px;
height: 51.43px;
left: 1445px;
top: 838.67px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


/* back */

position: absolute;
width: 53px;
height: 51.43px;
left: 1445px;
top: 838.67px;

background: #3B5998;


/* Shape */

position: absolute;
width: 13.45px;
height: 27.98px;
left: 1465.32px;
top: 851.53px;

/* White Base */
background: #FFFFFF;


/* Don’t have an account? Sign Up */

position: absolute;
width: 490px;
height: 35px;
left: 1264px;
top: 964px;

/* 20 sp • Body 2  • Website */
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 32px;
/* or 160% */
text-align: center;
letter-spacing: 0.25px;

/* Dark Color */
color: rgba(0, 0, 0, 0.87);
